* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
}

img {
  max-width: 70%;
}

.image-center {
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid #ddd;
}
